body, html {
    height: 100%;
    width: 200%;
}

.bg { 
    /* The image used */
    /*background-image: url("webb.jpg");*/

    /* Full height */
    height: 100%; 
    width: 200%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}